{# /templates/factorial.html.twig #}
<!DOCTYPE html>
<html>
	<head>
		<title>Factorial</title>
		<meta charset="UTF-8">
	</head>
	<body>
	   {% if error %}
	   Negative number!
	   {% else %}
	   {{ number }}
	   {% endif %}   
	  
	</body>
</html>