{# /templates/positive.html.twig #}
<!DOCTYPE html>
<html>
	<head>
		<title>Positive</title>
		<meta charset="UTF-8">
	</head>
	<body>
	   {% if number > 0 %}
	   Positive
	   {% else %}
	   Negative or zero
	   {% endif %}
	</body>
</html>